/*--width 1700 --*/
@media (max-width: 1700px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li .dropdown-items li .sub-dropdown {
    width: 200px;
    padding: 12px 0px;
    top: 51px;
    left: 50px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li .dropdown-items li .sub-dropdown li a {
    font-size: 11px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li .dropdown-items li .sub-dropdown li {
    padding: 2px 0px;
  }
  .va-post-banner-main-wrapper .post-img img {
    width: 700px;
  }
  .va-footer-wrapper .footer-content .footerlinks .logo-footer a img {
    width: 250px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom {
    padding: 20px 10px;
  }
  .va-login-page-main-wrapper .back-btn {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .top-header-wrapper {
    padding: 14px 19px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper {
    width: 44%;
  }
}

/*--width 1600 --*/
@media (max-width: 1600px) {
  .slider, .slide {
    height: 74vh;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu li a {
    padding: 26px 12px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper {
    width: 50%;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper .product-slider .slide .carousel-inner {
    margin-left: 110px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper .product-slider .slide {
    display: flex;
  }
  .va-women-program-wrap ul {
    min-height: 675px !important;
  }
  .va-women-program-wrap ul li {
    max-width: 50%;
  }
  .va-women-program-wrap ul li img {
    width: 100%;
  }
  .va-women-program-wrap ul li.img1 {
    max-width: 40%;
  }
  .va-women-program-wrap ul li.img4 {
    max-width: 42%;
  }
  .va-women-program-wrap ul li.img2 {
    max-width: 55%;
  }
  .va-women-program-wrap ul li.img5 {
    max-width: 38%;
    bottom: 10%;
  }
}

/*--width 1500 --*/
@media (max-width: 1500px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .hidden-logo a img {
    width: 210px;
  }
  .slider, .slide {
    height: 69vh;
  }
}

/*--width 1440 --*/
@media (max-width: 1440px) {
  .va-service-main-wrapper .va-service-box-wrapper {
    flex-wrap: wrap;
  }
  .va-service-main-wrapper .va-service-box-wrapper .service-box {
    width: 19%;
  }
  .va-post-banner-main-wrapper .post-text .post-icon h4 {
    font-size: 35px;
  }
  .va-post-banner-main-wrapper .post-text p {
    font-size: 22px;
    line-height: 30px;
    max-width: 620px;
  }
  .va-post-banner-main-wrapper .post-text .post-icon span {
    width: 85px;
    height: 85px;
    line-height: 85px;
  }
  .va-post-banner-main-wrapper .post-img img {
    width: 556px;
    left: -132px;
  }
  .slider, .slide {
    height: 66vh;
  }
  .va-footer-wrapper .footer-content .footerlinks h4 {
    font-size: 20px;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper .modern-img {
    padding-right: 152px;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper .modern-img:after {
    right: 105px;
  }
  .va-contact-mani-wrapper .contact-details-box {
    width: 33%;
  }
  .dasboard-main-wrap .address-main-wrap .address-box h3 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .dasboard-main-wrap .address-main-wrap .address-box {
    padding: 40px 30px;
  }
  .dasboard-main-wrap .address-main-wrap .address-box a {
    font-size: 22px;
    line-height: 32px;
  }
  .va-get-touch-main-wrapper {
    padding-top: 10px;
  }
  .va-social-imapact-inner-content-wrapper .inner-social-impact-box .social-impact-img .social-impact-text {
    left: 0;
    transform: translateY(-50%);
    top: 50%;
  }
  .va-social-imapact-inner-content-wrapper .inner-social-impact-box .social-impact-img .social-impact-text h2 {
    font-size: 60px;
    line-height: 80px;
  }
  .va-women-do .va-box {
    padding: 60px 35px;
  }
  .va-our-program h3 {
    font-size: 43px;
  }
  .va-women-slider p {
    font-size: 70px;
    width: 100%;
    text-align: center;
  }
  .va-heading h2 {
    font-size: 47px;
  }
  .imapact-text {
    width: 100%;
  }
  .va-blog-post .va-imapact-program .imapact-text a {
    font-size: 18px;
    line-height: 24px;
  }
  .va-blog-post .va-imapact-program .imapact-text p {
    font-size: 14px;
  }
  .va-social-imapact-inner-content-wrapper .inner-social-impact-box .social-impact-img .social-impact-text.mission-statement {
    padding: 70px 40px;
    transform: translateY(0);
    left: 30px;
  }
  .va-our-story-wrap .mission-statement h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
  }
  .va-our-story-wrap .mission-statement p {
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;
  }
  .va-our-story-wrap .mission-statement span {
    font-size: 50px;
    line-height: 50px;
    margin-top: 15px;
  }
  .va-women-program-wrap.va-story-wrap ul {
    margin-left: auto;
  }
  .va-women-program-wrap.va-story-wrap .women-cont h3 {
    font-size: 32px;
    line-height: 33px;
    margin-bottom: 10px;
  }
  .va-women-program-wrap.va-story-wrap .women-cont span {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .va-women-program-wrap.va-story-wrap .women-cont p.about-story {
    font-size: 18px;
    line-height: 30px;
  }
  .va-women-program-wrap.va-story-wrap .women-cont p.descipt {
    font-size: 16px;
    margin-top: 12px;
    line-height: 26px;
  }
  .va-women-program-wrap.va-story-wrap .women-work-wrap {
    margin: 20px 0;
  }
  .va-women-program-wrap.va-story-wrap .women-work-wrap {
    padding: 20px 30px;
  }
  .va-women-program-wrap.va-story-wrap .women-work-wrap h5 {
    font-size: 30px;
    line-height: 30px;
  }
  .va-women-program-wrap.va-story-wrap .women-cont p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
  }
  .va-women-program-wrap .women-work-wrap small {
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
  }
  
  .va-staff-wrap.va-tribe-wrap .staff-box.green-box {
      width: 261px;
      min-height: 261px;
      margin-top: 51px !important;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .va-staff-wrap.va-tribe-wrap .staff-box.green-box a {
    font-size: 18px;
    line-height: 30px;
  }
  .va-staff-wrap.va-tribe-wrap .staff-box.green-box {
    margin: 20px auto;
  }
}

/*--width 1400 --*/
@media (max-width: 1400px) {
  #exampleModal .modal-dialog {
    max-width: 1300px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-inner {
    width: 500px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-desp h2 {
    font-size: 24px;
    line-height: 38px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-desp {
    padding-right: 30px;
    padding-left: 20px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-desp .buttons li .va_btn {
    min-width: 220px;
  }
}

/*--width 1366 --*/
@media (max-width: 1366px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .right-logo a img {
    width: 120px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu li a {
    font-size: 20px;
    padding: 12px 12px;
  }
  .va-service-main-wrapper .va-service-box-wrapper .service-box {
    padding: 30px;
  }
  .va-banner-wrapper .main-slider .carousel-inner .carousel-item .carousel-caption h2 {
    font-size: 90px;
  }
  .va-freedom-main-wrapper .freedom-text h3 {
    font-size: 40px;
    text-align: center;
    line-height: 35px;
  }
  .va-freedom-main-wrapper .freedom-text .title-heading h2 {
    font-size: 50px;
    margin-top: 10px;
  }
  .va-freedom-main-wrapper .freedom-text .title-heading .va_btn {
    margin-top: 30px;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper h3, .va-mordern-main-wraaper .va-img-sec-wrapper span {
    font-size: 50px;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper .line-btn {
    margin-left: inherit;
    justify-content: left;
    height: 50px;
  }
  .va-blog-main-wrapper .va-blog-main-box .va-blog-text h3, .va-blog-main-wrapper .va-blog-main-box .va-blog-text span {
    font-size: 40px;
  }
  .va-blog-main-wrapper .va-blog-main-box .va-blog-text p {
    font-size: 20px;
  }
  .va-product-main-wrapper h3, .va-product-main-wrapper span {
    font-size: 50px;
  }
  .va-testimonial-main-wrapper h3, .va-testimonial-main-wrapper span {
    font-size: 50px;
  }
  .va-our-story-main-wrapper h3, .va-our-story-main-wrapper span {
    font-size: 50px;
  }
  .va-feature-main-wrapper .feature-text h3, .va-feature-main-wrapper .feature-text span {
    font-size: 50px;
  }
  .va-latest-news-main-wrapper h3, .va-latest-news-main-wrapper span {
    font-size: 50px;
  }
  .va-latest-news-main-wrapper .news-main-box-wrapper .news-box-wrapper .news-text a {
    font-size: 18px;
  }
  .va-footer-wrapper .footer-content {
    column-gap: 20px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu .right-menu a:before {
    top: 11px;
  }
  .slider, .slide {
    height: 60vh;
  }
  .va-login-page-main-wrapper .login-form-wrapper {
    max-width: 650px;
  }
  .va-footer-wrapper .footer-content .footerlinks h4 {
    font-size: 18px;
  }
  .va-footer-wrapper .footer-content .footerlinks {
    width: 16%;
  }
  .va-footer-wrapper .footer-content .logo-footer-links {
    width: 24%;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper .modern-img {
    padding-top: 38px;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper .modern-img {
    padding-right: 130px;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper .modern-img:after {
    right: 90px;
  }
  .va-checkout-maimn-wrapper .va-checkout-sidebar .returning-btn {
    font-size: 15px;
  }
  .va-checkout-maimn-wrapper .va-checkout-sidebar .review-order-wrapper .review-strip .review-product ul li h3 {
    font-size: 20px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp .buttons li .va_btn {
    min-width: 235px;
  }
}

/*--width 1280 --*/
@media (max-width: 1280px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu li a {
    font-size: 18px;
    padding: 12px 10px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu li a span {
    font-size: 12px;
    padding-left: 1px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu .right-menu a:before {
    display: none;
  }
  .va-product-list-inner-content-wrapper .product-blog-wrapper .va-product-main-box .product-box .product-text h5 {
    font-size: 14px;
  }
  .va-product-list-inner-content-wrapper .product-blog-wrapper .va-product-main-box .product-box .product-text a {
    font-size: 16px;
  }
  .va-begind-product .product-detail .cont-area h3 {
    font-size: 25px;
    line-height: 34px;
  }
  .va-begind-product .product-detail .cont-area p {
    font-size: 18px;
    line-height: 26px;
    margin: 15px 0;
  }
  .va-begind-product .product-detail .cont-area .head {
    font-size: 52px;
    line-height: 55px;
  }
  .va-begind-product .product-detail .cont-area .line-btn {
    margin-top: 35px;
  }
}

/*--width 1224 --*/
@media (max-width: 1224px) {
  .va-service-main-wrapper .va-service-box-wrapper .service-box {
    width: 24%;
    margin-bottom: 14px;
  }
  .va-footer-wrapper .footer-content .footerlinks {
    width: 30%;
    margin-bottom: 30px;
  }
  .va-product-main-wrapper .va-product-main-box {
    flex-wrap: wrap;
  }
  .va-product-main-wrapper .va-product-main-box .product-box {
    /* width: 24%; */
    margin-bottom: 14px;
  }
  .va-post-banner-main-wrapper .post-img img {
    width: 440px;
    left: -90px;
  }
  .va-post-banner-main-wrapper .post-text p {
    max-width: 540px;
  }
  .vedio-main-wrapper .vedio-text {
    font-size: 60px;
  }
  .vedio-main-wrapper .vedio-text-right {
    font-size: 60px;
  }
  .va-our-story-main-wrapper .left-img img {
    width: 350px;
  }
  .va-our-story-main-wrapper .right-img img {
    width: 350px;
  }
  .va-banner-wrapper .main-slider .carousel-caption h2 {
    font-size: 70px;
  }
  .slider, .slide {
    height: 58vh;
  }
}

/*--width 1199 --*/
@media (max-width: 1199px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .social-media-icons li .post-btn {
    width: 130px;
  }
  .va-service-main-wrapper .va-service-box-wrapper .service-box {
    width: 32%;
  }
  /* .va-product-main-wrapper .va-product-main-box .product-box {
    width: 32%;
  } */
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .hidden-logo a img {
    width: 200px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom {
    padding: 20px 10px;
  }
  .va-our-story-main-wrapper .right-img {
    bottom: inherit;
    top: -22%;
  }
  .va-footer-wrapper .footer-top .post-icon .footer-get h4 {
    font-size: 32px;
  }
  .va-footer-wrapper .footer-top .post-icon .footer-get p {
    font-size: 20px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu li a {
    padding: 12px 10px;
  }
  .slide .slide__content--headings h2 {
    font-size: 90px;
  }
  .slider, .slide {
    height: 51vh;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-inner {
    width: 466px;
  }
  #exampleModal .modal-dialog .modal-content {
    padding: 35px 25px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-inner {
    width: 380px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-desp .buttons {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .camera_caption p {
    font-size: 65px;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-form form .va_btn {
    height: 55px;
    font-size: 20px;
  }
  .va-login-page-main-wrapper .login-form-wrapper:before, .va-login-page-main-wrapper .login-form-wrapper:after {
    width: 220px;
    height: 234px;
  }
  .va-product-list-inner-content-wrapper .product-blog-wrapper .va-product-main-box {
    flex-wrap: wrap;
  }
  .va-product-list-inner-content-wrapper .product-blog-wrapper .va-product-main-box .product-box {
    /* width: 48%; */
  }
  .va-product-list-inner-content-wrapper .product-sidebar-wrapper {
    width: 26%;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper .modern-img {
    padding-right: 138px;
  }
  .va-checkout-maimn-wrapper .va-checkout-sidebar .review-order-wrapper .review-strip .review-product ul li h3 {
    font-size: 18px;
  }
  .va-checkout-maimn-wrapper .va-checkout-billing-wrapper {
    width: 100%;
  }
  .va-checkout-maimn-wrapper .va-checkout-sidebar {
    width: 60%;
  }
  .va-contact-mani-wrapper .contact-details-box .contact-text span {
    font-size: 16px;
  }
  .va-get-touch-main-wrapper .get-touch-form {
    width: 100%;
  }
  .va-get-touch-main-wrapper .get-touch-form-right {
    width: 100%;
    margin-top: 30px;
  }
  .va-get-touch-main-wrapper {
    flex-direction: column;
  }
  .va-my-cart-inner-box {
    flex-direction: column;
  }
  .va-my-cart-inner-box .my-cart-product-details {
    width: 100%;
  }
  .va-my-cart-inner-box .my-cart-sidebar {
    width: 60%;
    margin-top: 30px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp .buttons li .va_btn {
    min-width: 210px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp h2.price {
    margin-top: 0;
  }
  .dasboard-main-wrap .dashboard-links ul li a {
    font-size: 20px;
    padding: 15px 15px;
  }
  .dasboard-main-wrap .dash-box {
    min-height: 240px;
  }
  .dasboard-main-wrap .dash-box .icon {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }
  .dasboard-main-wrap .dash-box .icon a {
    font-size: 20px;
    margin-top: 25px;
  }
  .dasboard-main-wrap .dash-box .icon svg {
    width: 35px;
  }
  .dasboard-main-wrap .dash-box .icon.svg-resp svg {
    width: 30px;
  }
  .va-women-program-wrap ul li.img2 {
    display: none;
  }
  .va-women-program-wrap ul li.img4 {
    display: none;
  }
  .va-banner-wrapper .index-main-slider .va-item .modern-caption h3 {
    font-size: 90px;
  }
}

/*--width 1115 --*/
@media (max-width: 1115px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu {
    width: auto;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp .buttons {
    column-gap: 9px;
  }
}

/*--width 1050 --*/
@media (max-width: 1050px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a span {
    display: contents;
    margin-left: 0;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li {
    padding: 0;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a {
    padding: 36px 8px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu li a {
    font-size: 16px;
  }
  .va-post-banner-main-wrapper .post-img {
    display: none;
  }
  .va-post-banner-main-wrapper .post-text {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
  }
  .va-post-banner-main-wrapper .post-text p {
    max-width: 100%;
  }
  .va-post-banner-main-wrapper {
    height: auto;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .ps_header_bottom .main-menu .right-menu a:before {
    top: 7px;
  }
  .va-login-page-main-wrapper .login-form-wrapper:after {
    right: -16%;
  }
  .va-login-page-main-wrapper .login-form-wrapper:before {
    left: -16%;
  }
}

/*--width 1024 --*/
@media (max-width: 1024px) {
  .slider, .slide {
    height: 48vh;
  }
}

/*--width 993 --*/
@media (max-width: 993px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a {
    padding: 34px 7px;
  }
}

@media (max-width: 991px) {
  .main-header-wrapper1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
  }
  .va-footer-wrapper .footer-content .footerlinks {
    width: 46%;
  }
  .va-blog-main-wrapper .va-blog-main-box {
    flex-direction: column;
  }
  .va-blog-main-wrapper .va-blog-main-box .va-blog-text {
    width: 100%;
  }
  .va-blog-main-wrapper .va-blog-main-box .va-blog-img {
    width: 100%;
  }
  .va-feature-main-wrapper {
    flex-direction: column;
  }
  .va-feature-main-wrapper .feature-text {
    width: 100%;
  }
  .va-feature-main-wrapper .feature-slide {
    width: 100%;
  }
  .va-mordern-main-wraaper {
    padding: 80px 50px;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper {
    margin-bottom: 30px;
    width: 100%;
  }
  .va-mordern-main-wraaper .va-modern-slider-wrapper {
    width: 100%;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper .modern-img {
    padding-right: 50px;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper .modern-img:after {
    right: 11px;
  }
  .va-footer-wrapper .footer-top {
    flex-direction: column;
    row-gap: 20px;
  }
  .va-footer-wrapper .footer-top .input-box {
    width: 100%;
  }
  .va-latest-news-main-wrapper .news-main-box-wrapper {
    flex-wrap: wrap;
  }
  .va-latest-news-main-wrapper .news-main-box-wrapper .news-box-wrapper {
    width: 48%;
    margin-bottom: 30px;
  }
  .va-banner-wrapper {
    margin-top: 64px;
  }
  .va-our-story-main-wrapper h3 {
    z-index: 999;
    position: relative;
  }
  .va-our-story-main-wrapper span {
    z-index: 999;
    position: relative;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .mobile-logo a img {
    width: 216px;
  }
  .va-footer-wrapper .footer-top .post-icon {
    width: 100%;
  }
  .slide .slide__img img {
    height: 100%;
  }
  .slider, .slide {
    min-height: 100%;
    height: 100%;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider {
    width: 100%;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-desp {
    width: 100%;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-inner {
    width: 80%;
  }
  #exampleModal .modal-dialog {
    margin: 20px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-inner .carousel-item {
    max-width: 100%;
  }
  #exampleModal .modal-dialog .modal-header .btn-close {
    margin: -15px 0px 0 auto;
  }
  .va-login-page-main-wrapper .login-form-wrapper {
    max-width: 580px;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-form .form-btn {
    flex-direction: column;
    row-gap: 20px;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-form .tag-line {
    padding-top: 24px;
  }
  .va-login-page-main-wrapper .login-form-wrapper:before, .va-login-page-main-wrapper .login-form-wrapper:after {
    width: 180px;
    height: 190px;
  }
  .va-login-page-main-wrapper .login-form-wrapper:after {
    right: -9%;
  }
  .va-login-page-main-wrapper .login-form-wrapper:before {
    left: -9%;
  }
  .va-footer-wrapper .footer-bottom-line-wrapper .bottom-text {
    width: 100%;
    text-align: center;
  }
  .va-footer-wrapper .footer-bottom-line-wrapper .bottom-text p {
    font-size: 50px;
    padding: 38px 30px;
  }
  .va-footer-wrapper .footer-bottom-line-wrapper {
    padding: 0px 50px 60px;
  }
  .va-product-list-inner-content-wrapper .product-sidebar-wrapper {
    width: 100%;
  }
  .va-product-list-inner-content-wrapper .product-blog-wrapper {
    width: 100%;
  }
  .va-product-list-inner-content-wrapper {
    flex-direction: column-reverse;
  }
  .va-product-list-inner-content-wrapper .product-blog-wrapper .va-product-main-box .product-box {
    /* width: 48%; */
  }
  .va-blog-wrapper .blog-footer-bottom-wrapper .left-footer-bottom .footer-tag-box ul {
    flex-wrap: wrap;
  }
  .va-blog-wrapper .blog-footer-bottom-wrapper .left-footer-bottom .footer-tag-box {
    flex-wrap: wrap;
  }
  .va-blog-wrapper .news-main-box-wrapper .news-box-wrapper {
    width: 100%;
  }
  .va-blog-wrapper .news-main-box-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .va-checkout-maimn-wrapper {
    flex-direction: column;
    padding: 0px 50px 70px;
  }
  .va-checkout-maimn-wrapper .va-checkout-sidebar {
    width: 100%;
    margin-top: 30px;
  }
  .va-contact-mani-wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 70px 50px 0px;
  }
  .va-contact-mani-wrapper .contact-details-box {
    width: 47%;
    margin-bottom: 75px;
  }
  .va-my-cart-inner-box .my-cart-sidebar {
    width: 100%;
  }
  .va-blog-wrapper .blog-img-series-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 14px;
  }
  .va-blog-wrapper .blog-img-series-wrapper .blog-small {
    width: 31%;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper {
    flex-direction: column;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper {
    width: 100%;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper {
    width: 100%;
    margin-top: 30px;
  }
  .dasboard-main-wrap .dashboard-links ul {
    margin-right: 0;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons .main-menu li .login-drop li a {
    font-size: 14px;
  }
  .va-page-strip-tag {
    padding: 80px 20px 15px;
  }
  .va-category-main-wrapper {
    padding: 70px 50px 40px;
    margin-bottom: 0;
  }
  .va-testimonial-main-wrapper .testimonial-slider .owl-item.active.center .testi-box {
    transform: translateY(0px);
  }
  .va-dscp-wrap h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .va-team-story h2 {
    font-size: 32px;
    line-height: 35px;
  }
  .va-team-story p {
    font-size: 22px;
    line-height: 35px;
    margin-top: 20px;
  }
  .va-our-story-wrap .mission-statement {
    top: 20px !important;
  }
  .va-social-imapact-inner-content-wrapper .inner-social-impact-box .social-impact-img .social-impact-text.mission-statement {
    padding: 30px 20px;
  }
  .va-heading h2 {
    font-size: 36px;
  }
  .va-insta-story {
    padding: 60px 0;
  }
  .va-heading h2 {
    font-size: 36px;
    line-height: 50px;
  }
  .va-insta-story .va-heading p {
    font-size: 34px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .va-service-main-wrapper .va-service-box-wrapper .service-box {
    width: 48%;
  }
  .va-product-main-wrapper .va-product-main-box .product-box {
    width: 48%;
  }
  .va-freedom-main-wrapper .circle-img {
    right: 130px;
    top: 40px;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons .main-menu .search-box.search-input .search-details {
    width: 360px;
  }
  .slide .slide__content--headings h2 {
    font-size: 50px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-indicators {
    flex-direction: row;
    justify-content: center;
    margin-right: 0;
    top: auto;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-inner {
    margin-left: 0;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-inner {
    width: 100%;
  }
  #exampleModal .modal-dialog .modal-header .btn-close {
    margin: -15px 0px 0 auto;
    background: #fff;
    opacity: 1;
  }
  .va-login-page-main-wrapper .login-form-wrapper:after {
    display: none;
  }
  .va-login-page-main-wrapper .login-form-wrapper:before {
    display: none;
  }
  .va-login-page-main-wrapper .login-form-wrapper {
    max-width: 100%;
  }
  .va-login-page-main-wrapper {
    padding: 30px;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-logo-wrapper a img {
    width: 100%;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-logo-wrapper h2 {
    font-size: 32px;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-form .form-btn a {
    font-size: 16px;
  }
  .va-login-page-main-wrapper .login-form-wrapper {
    margin-bottom: 65px;
  }
  .camera_wrap .camera_pag {
    bottom: 7px;
    left: 40%;
  }
  .camera_wrap .camera_pag .camera_pag_ul li {
    margin: 0px 5px;
  }
  .va-contact-mani-wrapper .contact-details-box {
    width: 100%;
  }
  .va-get-touch-main-wrapper .get-touch-form-right .custom-map-wrapper .map-img {
    padding: 0px;
  }
  .va-blog-wrapper .va-blog-testi-wrapper {
    padding: 40px 20px;
  }
  .va-blog-wrapper .va-blog-testi-wrapper p {
    max-width: 100%;
  }
  .va-latest-news-main-wrapper .view-btn-wrapper {
    margin-top: 20px;
  }
  .va-women-program-wrap ul {
    min-height: 350px !important;
    margin-left: 0;
  }
  .va-women-program-wrap ul li.img5 {
    display: none;
  }
  .va-women-program-wrap ul li.img3 {
    bottom: -55px;
    top: auto;
  }
  .va-our-program .icon {
    max-width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .va-women-slider .owl-carousel .owl-dots {
    bottom: 15px;
  }
  .va-insta-story ul {
    column-gap: 15px;
  }
  .va-banner-wrapper .index-main-slider .va-item .modern-caption h3 {
    font-size: 50px;
  }
  .va-terns-condition-wrapper .order-pacement-wrapper .order-billing-wrapper .billing-address-wrapper {
    flex-direction: column;
  }
  .va-terns-condition-wrapper .order-pacement-wrapper .order-billing-wrapper .billing-address-wrapper .billing-add {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 680px) {
  .va-footer-wrapper .footer-bottom-line-wrapper .bottom-text p {
    font-size: 40px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper .product-slider .slide .carousel-indicators {
    flex-direction: inherit;
    height: 100px;
    margin-right: 0;
    margin-bottom: 0;
    top: 100%;
    margin-top: 15px;
    flex-wrap: wrap;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper {
    margin-top: 140px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper .product-slider .slide .carousel-inner .carousel-item img {
    height: auto;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper .product-slider .slide .carousel-inner {
    margin-left: 0;
  }
  .product-single-inner-content .va-client-comment-wrapper {
    flex-direction: column;
  }
  .product-single-inner-content .va-client-comment-wrapper .client-text {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .va-footer-wrapper .footer-content .footerlinks {
    width: 100%;
  }
  .va-service-main-wrapper .va-service-box-wrapper .service-box {
    width: 100%;
  }
  .va-product-main-wrapper .va-product-main-box .product-box {
    width: 100%;
  }
  .va-latest-news-main-wrapper .news-main-box-wrapper .news-box-wrapper {
    width: 100%;
  }
  .va-feature-main-wrapper {
    padding: 80px 50px;
  }
  .va-feature-main-wrapper .feature-slide {
    flex-wrap: wrap;
  }
  .va-feature-main-wrapper .feature-slide .product-box {
    width: 100%;
    margin-bottom: 30px;
  }
  .va-product-main-wrapper h3, .va-product-main-wrapper span {
    font-size: 35px;
  }
  .va-our-story-main-wrapper h3, .va-our-story-main-wrapper span {
    font-size: 35px;
  }
  .va-post-banner-main-wrapper .post-text .post-icon {
    flex-direction: column;
    row-gap: 20px;
  }
  .va-testimonial-main-wrapper h3, .va-testimonial-main-wrapper span {
    font-size: 35px;
    line-height: 40px;
  }
  .va-feature-main-wrapper .feature-text h3, .va-feature-main-wrapper .feature-text span {
    font-size: 35px;
  }
  .va-mordern-main-wraaper .va-img-sec-wrapper h3, .va-mordern-main-wraaper .va-img-sec-wrapper span {
    font-size: 35px;
  }
  .va-freedom-main-wrapper .freedom-text .title-heading h2 {
    font-size: 35px;
  }
  .va-freedom-main-wrapper .freedom-text h3 {
    font-size: 30px;
  }
  .va-mordern-main-wraaper .va-modern-slider-wrapper .modern-slider .va-item .bottom-img p {
    font-size: 50px;
  }
  .va-mordern-main-wraaper .va-modern-slider-wrapper .modern-slider .va-item .modern-caption span {
    font-size: 35px;
  }
  .va-mordern-main-wraaper .va-modern-slider-wrapper .modern-slider .va-item .modern-caption h3 {
    font-size: 30px;
  }
  .va-footer-wrapper .footer-top .post-icon {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
  .va-post-banner-main-wrapper {
    padding: 0px 30px;
  }
  .va-latest-news-main-wrapper h3, .va-latest-news-main-wrapper span {
    font-size: 30px;
  }
  .va-latest-news-main-wrapper {
    padding: 30px;
  }
  .va-feature-main-wrapper {
    padding: 30px;
  }
  .va-testimonial-main-wrapper .testimonial-slider .testi-box {
    padding: 10px;
  }
  .va-banner-wrapper .main-slider .carousel-caption h2 {
    font-size: 40px;
  }
  .va-banner-wrapper .main-slider .owl-nav .owl-prev, .va-banner-wrapper .main-slider .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    line-height: 12px;
  }
  .va-freedom-main-wrapper .circle-img img {
    width: 340px;
  }
  .va-freedom-main-wrapper .circle-img {
    top: 10px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-indicators button {
    width: 60px;
    height: 60px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-indicators button img {
    width: 60px;
    height: 60px;
  }
  .va-blog-wrapper .news-main-box-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .va-blog-wrapper .blog-img-series-wrapper .blog-small {
    width: 46%;
  }
  .va-blog-wrapper .news-main-box-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper .product-slider .slide .carousel-indicators button {
    width: 70px;
    height: 70px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-wrapper .product-slider .slide .carousel-indicators button img {
    width: 70px;
    height: 70px;
  }
}

/*---width 580--*/
@media (max-width: 580px) {
  .va-client-main-wrapper {
    padding-bottom: 30px;
  }
  .va-page-strip-tag ul {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .va-page-strip-tag ul li {
    font-size: 14px;
  }
  .resp-blog {
    flex-wrap: wrap;
  }
  .va-blog-wrapper .blog-footer-bottom-wrapper {
    margin-top: 10px;
  }
  .va-category-main-wrapper .category-heading h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .va-category-main-wrapper {
    padding: 70px 20px 40px;
  }
  .va-category-main-wrapper .category-heading p {
    font-size: 20px;
    line-height: 35px;
    margin: 20px auto 60px;
  }
  .va-testimonial-main-wrapper {
    padding: 0px 20px 50px;
  }
  .va-testimonial-main-wrapper .testimonial-slider .owl-nav {
    margin-top: 15px;
  }
  .va-freedom-main-wrapper .freedom-text h3 {
    font-size: 26px;
  }
  .va-freedom-main-wrapper .freedom-text .title-heading h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 0;
  }
  .va-women-program-wrap ul li.img1 {
    max-width: 55%;
  }
  .va-women-program-wrap ul li.img3 {
    bottom: -55px;
    top: auto;
    left: auto;
    right: 0;
    transform: translate(0%, 0%);
  }
  .va-women-program-wrap ul li {
    max-width: 70%;
  }
  .va-social-imapact-inner-content-wrapper .inner-social-impact-box .social-impact-img .social-impact-text h2 {
    font-size: 21px;
    line-height: 30px;
  }
  .va-women-program-wrap {
    padding: 50px 0;
  }
  .pd-75 {
    padding: 0 20px !important;
  }
  .va-women-program-wrap ul {
    min-height: 250px !important;
  }
  .va-women-program-wrap .women-cont h3 {
    margin-top: 60px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .va-women-program-wrap .women-cont .para {
    font-size: 20px;
    line-height: 28px;
  }
  .va-our-program .text-icon {
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .va-our-program h3 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  .va-our-program {
    padding: 60px 0;
  }
  .va-women-slider {
    padding: 60px 0;
  }
  .va-women-slider .owl-carousel .owl-dots button span {
    width: 10px;
    height: 10px;
  }
  .va-women-slider p {
    font-size: 40px;
  }
  .va-heading h2 {
    font-size: 36px;
    margin-bottom: 0;
    line-height: 35px;
  }
  .va-blog-post .va-imapact-program {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .va-begind-product .product-detail.ma-box h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .va-insta-story .va-heading p {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }
  .va-insta-story .va-heading h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .va-insta-story ul {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .va-begind-product .product-detail.ma-box p {
    margin: 32px auto 25px;
    font-size: 23px;
    line-height: 30px;
  }
  .va-social-imapact-inner-content-wrapper .inner-social-impact-box .social-impact-img .social-impact-text.mission-statement {
    padding: 15px;
  }
  .va-our-story-wrap .mission-statement p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
  }
  .va-our-story-wrap .mission-statement h4 {
    font-size: 16px;
    line-height: 32px;
  }
  .va-our-story-wrap .mission-statement span {
    font-size: 23px;
    line-height: 32px;
    margin-top: 0px;
  }
}

@media (max-width: 575px) {
  .va-freedom-main-wrapper {
    padding: 30px;
  }
  .va-mordern-main-wraaper {
    padding: 30px;
  }
  .va-blog-main-wrapper .va-blog-main-box .va-blog-text {
    padding: 30px;
  }
  .va-product-main-wrapper {
    padding: 30px;
  }
  .va-product-main-wrapper .va-product-main-box {
    margin-top: 12px;
  }
  .va-our-story-main-wrapper .left-img img {
    width: 200px;
  }
  .va-our-story-main-wrapper .right-img img {
    width: 200px;
  }
  .va-our-story-main-wrapper .left-img {
    top: 6%;
  }
  .va-our-story-main-wrapper .right-img {
    top: 6%;
  }
  .vedio-main-wrapper .vedio-text {
    padding: 50px 0px 0px 0px;
  }
  .vedio-main-wrapper .vedio-text-right {
    padding: 50px 50px 0px 20px;
  }
  .va-banner-wrapper .main-slider .owl-dots {
    right: 45%;
    bottom: 12px;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons .main-menu .search-box.search-input .search-details {
    width: 270px;
  }
  .camera_caption p {
    font-size: 35px;
  }
  .va-login-page-main-wrapper .back-btn {
    left: 36%;
  }
  .camera_wrap .camera_pag {
    bottom: 7px;
    left: 36%;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp .buttons {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
  }
  .product-single-inner-content {
    padding: 70px 30px;
  }
  #status {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

/*-- width 480 --*/
@media (max-width: 480px) {
  .va-mordern-main-wraaper .va-modern-slider-wrapper .modern-slider .va-item .modern-caption {
    position: absolute;
    top: 45px;
    left: 45px;
  }
  .va-mordern-main-wraaper .va-modern-slider-wrapper .modern-slider .va-item .modern-caption h3 {
    font-size: 20px;
  }
  .va-mordern-main-wraaper .va-modern-slider-wrapper .modern-slider .va-item .modern-caption span {
    font-size: 20px;
    padding-top: 8px;
  }
  .va-mordern-main-wraaper .va-modern-slider-wrapper .modern-slider .va-item .bottom-img p {
    font-size: 36px;
  }
  .va-mordern-main-wraaper .va-modern-slider-wrapper .modern-slider .va-item .bottom-img {
    left: 50px;
  }
  .va-freedom-main-wrapper .circle-img img {
    width: 220px;
  }
  .va-banner-wrapper .main-slider .carousel-caption {
    bottom: 30%;
    left: 50px;
    right: inherit;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons .main-menu .search-box .search-details {
    right: -30px;
    top: 51px;
  }
  .slide .slide__content--headings h2 {
    font-size: 40px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-indicators button {
    width: 35px;
    height: 40px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-indicators button img {
    max-width: 35px;
    max-height: 40px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-slider .carousel-inner .carousel-item img {
    height: auto;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-desp .product-cate li {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-desp {
    padding: 0 15px 0 0;
  }
  #exampleModal .modal-dialog .modal-body .popup-main-wrap .product-desp .product-cate .select-color .custom-radios {
    column-gap: 5px;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-form .form-btn a span img {
    width: 100%;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-form .form-btn a span {
    width: 40px;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-form .tag-line p {
    font-size: 15px;
  }
  .va-login-page-main-wrapper .login-form-wrapper .login-form .form-btn a {
    font-size: 14px;
  }
  .va-product-list-inner-content-wrapper .product-blog-wrapper .va-product-main-box .product-box {
    width: 100%;
  }
  .va-my-cart-inner-box .my-cart-sidebar .secure-payment-wrapper {
    flex-direction: column;
  }
  .va-blog-wrapper .blog-img-series-wrapper .blog-small {
    width: 100%;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp {
    width: 100%;
    margin-top: 75px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp .product-cate .select-color .custom-radios {
    column-gap: 0;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp .product-cate li {
    column-gap: 10px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp .product-cate li h4 {
    font-size: 13px;
  }
  .dasboard-main-wrap .profile-sec {
    padding: 25px 20px;
  }
  .dasboard-main-wrap .profile-sec h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .dasboard-main-wrap .address-main-wrap .address-box h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .dasboard-main-wrap .address-main-wrap .address-box a {
    font-size: 18px;
    line-height: 26px;
  }
  .main-header-wrapper1 .cart-details {
    width: 280px;
  }
  .va-blog-wrapper {
    padding: 70px 25px;
  }
  .va-get-touch-main-wrapper {
    padding: 0px 20px;
  }
  .va-my-cart-inner-box .my-cart-product-details .continue-btn-wrapper a {
    font-size: 16px;
  }
  .va-blog-post .va-imapact-program {
    padding: 25px;
  }
  .va-banner-wrapper .index-main-slider .va-item .modern-caption {
    top: 30%;
  }
  .va-banner-wrapper .index-main-slider .va-item .modern-caption h3 {
    font-size: 35px;
  }
}

/*-- width 450 --*/
@media (max-width: 450px) {
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .mobile-logo a img {
    width: 100%;
  }
  .va-post-banner-main-wrapper .post-text .post-icon h4 {
    font-size: 26px;
  }
  .va_btn {
    font-size: 16px;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons .main-menu .search-box .search-details {
    right: -122px;
  }
  .va-checkout-maimn-wrapper {
    padding: 40px 24px;
  }
  .va-checkout-maimn-wrapper .va-checkout-sidebar .returning-btn {
    padding: 15px 0px;
  }
  .va-contact-mani-wrapper {
    padding: 70px 24px 0px;
  }
  .va-my-cart-inner-box {
    padding: 70px 24px;
  }
  .va-my-cart-inner-box .my-cart-sidebar .secure-payment-wrapper {
    flex-direction: column;
  }
  .va-my-cart-inner-box .my-cart-sidebar .secure-payment-wrapper .payment-icon {
    margin-bottom: 20px;
  }
  .va-my-cart-inner-box .my-cart-sidebar .cart-form .form-group .input-box {
    flex-direction: column;
    row-gap: 20px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp .product-cate .select-color .custom-radios input[type="radio"] + label span {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons .main-menu .search_bar .lv_search_box {
    right: -110px;
  }
  .dasboard-main-wrap .address-main-wrap .address-box .edit-icon.icon {
    bottom: 50px;
  }
  .dasboard-main-wrap .address-main-wrap .address-box .edit-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    bottom: 10px;
  }
}

@media (max-width: 380px) {
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons {
    padding: 0;
  }
  .vedio-main-wrapper .vedio-text {
    font-size: 45px;
    padding-top: 80px;
  }
  .vedio-main-wrapper .vedio-text {
    font-size: 45px;
    padding: 30px 30px 0px;
  }
  .vedio-main-wrapper .vedio-text-right {
    font-size: 45px;
    padding-top: 20px;
  }
  .va-our-story-main-wrapper {
    height: 430px;
  }
  .vedio-main-wrapper {
    margin-top: -156px;
  }
  .va-banner-wrapper .main-slider .carousel-caption h2 {
    font-size: 30px;
  }
  .camera_wrap .camera_pag {
    bottom: 7px;
    left: 30%;
  }
  .dasboard-main-wrap .pd-50 {
    padding: 50px 20px;
  }
}

/*-- width 360 --*/
@media (max-width: 360px) {
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons ul .login-btn .user-text {
    right: -46px;
  }
  .va-footer-wrapper .footer-content .footerlinks .footer-addres-wrapper {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 12px;
  }
  .product-single-inner-content .va-product-list-inner-content-wrapper .va-product-slider-text-wrapper .product-desp .product-cate .select-color .custom-radios {
    column-gap: 5px;
  }
}

/*--width 320 --*/





