// footer css start

.va-footer-wrapper{
	width: 100%;
		.footer-top{
			display: flex;
			width: 100%;
			padding: 50px;
			background-color: $color-grey;
			border-bottom: 1px solid #ffffff29;
			.post-icon{
				width: 60%;
				display: flex;
				column-gap: 20px;
				align-items: center;
					span{
						width: 100px;
						height: 100px;
						line-height: 100px;
						border-radius: 50%;
						text-align: center;
						background-color: $color-white;
					}
					.footer-get{
						h4{
							font-size: 40px;
							color: $color-white;
							text-transform: uppercase;
							font-weight: $font-weight1;
						}
						
						p{
							color: $color-white;
							font-size: 26px;
							font-weight: $font-weight-bold;
							padding-top: 8px;
						}
					}
			}
			.input-box{
				display: flex;
				width: 40%;
				align-items: center;
				justify-content: flex-end;
				position: relative;
					input{
						height: 60px;
						padding-right: 141px;
					}
					span{
						position: absolute;
						right: 10px;
						button{
							background-color: $color-btn;
							color: $color-title;
							text-transform: uppercase;
							font-family: "Kantumruy Pro";
							height: 44px;
							border: 1px solid $color-btn;
							border-radius: 4px;
							width: 124px;
							font-weight: $font-weight1;
							transition: all 0.5s;
								&:hover{
									background-color: #7e4d3b;
									color: $color-white;
									transition: all 0.5s;
								}
						}
					}
			}
		}
		.footer-content{
			display: flex;
			width: 100%;
			padding: 50px;
			flex-wrap: wrap;
			background-color: $color-grey;
				.footerlinks{
					width: 19%;
						h4{
							font-size: 26px;
							color: $color-white;
							font-weight: $font-weight-bold;
							text-transform: uppercase;
							
						}
						p{
							color: $color-white;
							padding-top: 12px;
							font-size: 18px;
							font-weight: $font-weight2;
							max-width: 400px;
								span{
									display: inline;
									text-transform: uppercase;
								}
						}
						.logo-footer{
							a{
								img{
									width: 320px;
								}
							}
						}
						.social-footer{
							display: flex;
							align-items: center;
							column-gap: 14px;
							margin-top: 30px;
								a{
									width: 40px;
									height: 40px;
									line-height: 35px;
									text-align: center;
									display: inline-block;
									border: 1px solid $color-white;
									background-color: $color-white;
									border-radius: 50%;
									span{
										svg{
											fill: $color-grey;
										}
									}
									&:hover{
										background-color: $color-grey;
											span{
												svg{
													fill: $color-white;
												}
											}
									}
								}
						}
						ul{
							padding-top: 20px;
							display: flex;
							flex-direction: column;
							row-gap: 20px;
							li{
								a{
									color: $color-white;
									font-size: 18px;
									font-weight: $font-weight2;
										span{
											padding-right: 12px;
										}
										&:hover{
											opacity: 0.6;
												span{
													svg{
														fill: $color-light-bg;
													}
												}
										}
								}
							}
						}
						.footer-addres-wrapper{
							padding-top: 20px;
							display: flex;
							align-items: center;
    						column-gap: 20px;
								.footer-text{
									p{
										font-size: 18px;
										font-weight: $font-weight2;
										padding-top: 0;
											a{
												color: $color-white;
													span{
														font-family: "Kantumruy Pro";
													}
											}
									}
								}	
						}
				}
				.logo-footer-links{
					width: 24%;
				}
		}
		.footer-bottom-line-wrapper{
			display: flex;
			width: 100%;
			padding: 30px 50px 60px;
			background-color: $color-grey;
			justify-content: center;
			align-items: center;
				.bottom-text{
					
					p{
						color: $color-white;
						font-size: 60px;
						font-family: 'Barethelly Signature Personal Use';
						border: 1px solid $color-white;
						border-radius: 50px;
    					padding: 38px 100px;
					}
				}
		}
}

.copy-right-wrapper{
	background-color: $color-bg-dark;
	padding: 12px 0px;
		.bottom-footer{
			width: 100%;
			display: flex;
			justify-content: center;
    		align-items: center;
				p{
					color: $color-white;
				}
		}
}